/*======Font======*/
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

:root{
    --main-color: #195e9e;
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.2);
    --black-900: #000;
    --black-400: #646f87;
    --black-100: #edebeb;
    --white: #fff;
    --black-alpha-100: rgba(0,0,0,0.5);
}

body{
    font-family: "Luxurious Roman", cursive;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.justify-content-between{
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.navbar.sticky{
    background-color: var(--black-100);
    opacity: 0.8;
    padding: 12px 25px;
    box-shadow: var(--shadow-black-100);
}

.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 25px;
    transition: all 0.5s ease;
}

.align-items-center{
    align-items: center;
}
.navbar .logo a{
    font-size: 25px;
    font-weight: 900;
    color: var(--black-900);
    text-transform: capitalize;
}

.navbar .logo a span{
    color: var(--main-color);
}

.navbar .menu .nav-item{
    display: inline-block;
    position: relative;
    margin-left: 35px;
}

.navbar.sticky .menu .nav-item .nav-link{
    color: var(--main-color)
}

.navbar .menu .nav-item .nav-link{
    color: var(--white);
    font-size: 17px;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 0;
}

.section-padding{
    padding: 80px 0;
}

.text-align{
    text-align: center;
}

.section-title{
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100;
}

.section-title .subtitle{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color)
}

.section-title .main-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}

.section-title .line{
    padding-top: 0px;
}

.section-title .line li{
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50px;
    height: 3px
}

.section-title .line li:nth-of-type(1){
    width: 64px    
}
.section-title .line li:nth-of-type(2){
    width: 10px
}
.section-title .line li:nth-of-type(3){
    width: 7px
}

.navbar .nav-item .nav-link span{
    width: 0;
    height: 1.5px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out 0s;
}

.navbar .nav-item .nav-link span::before{
    position: absolute;
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--white);
    left: 110%
}

.navbar .nav-item .nav-link span::after{
    position: absolute;
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--white);
    left: 140%
}

.navbar.sticky .nav-item a span, .navbar.sticky .nav-item a span::before, .navbar.sticky .nav-item a span::after{
    background-color: var(--main-color);
} 

.navbar .nav-item > .nav-link.active span, .navbar .nav-item:hover> .nav-link span{
    opacity: 1;
    visibility: visible;
    width: 60%;
}

.navbar .nav-item > .nav-link.active span::before, .navbar .nav-item:hover> .nav-link span::before{
    width: 20%;
}

.navbar .nav-item > .nav-link.active span::after, .navbar .nav-item:hover> .nav-link span::after{
    width: 15%;
}

.header-social{
    position: absolute;
    top: 53%;
    left: 50px;
    transform: translateY(-53%);
    border: 1px solid rgba(90, 8, 8, 0.25);
    border-radius: 50px;
}

.header-social li a{
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 20px 15px;
    color:rgba(72, 38, 38, 0.63);
    transition: all 0.3s ease-in 0s;
}

.header-social a:hover{
    color: var(--main-color)
}

.btn-container{
    margin-top: 20px;
}

.btn-1{
    background-color: var(--main-color);
    border: none;
    color: var(--white);
    padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.btn-1:hover{
    color: var(--white);
    background-color: rgba(90, 8, 8, 0.7);
    transition: ease-in-out 0.5s;
}
.img{
    vertical-align: middle;
}
.home-section{
    position: relative;
    background-color: var(--black-100);
    padding-top: 80px;
    overflow-x: hidden;
    z-index: 1;
}

.home-section .home-text, .home-section .home-image{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 25px;
}

.home-section .home-text h4{
    font-size: 30px;
    letter-spacing: 4px;
    color: var(--main-color);
    font-weight: 600;
}
.home-section .home-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
    color: var(--black-900);
}

.home-section .home-text span{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    color: var(--black-900);
    line-height: 28px;
    display: block;
}

.home-section .home-text p{
    font-size: 16px;
    font-weight: 24px;
    margin-top: 5px;
    color: var(--black-900);
}

.home-section .home-image .img-box img{
    width: 100%;
    z-index: 789;
    position: relative;
}

.header-hero-shape{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.header-hero-shape::before{
    position: absolute;
    content: '';
    width: 1000%;
    height: 100%;
    background-color: var(--main-color);
    transform: skewX(20deg);
    top: 0;
    left: 0;
}

.about-section .about-image .img-box{
    position: relative;
}

.about-section .about-image .img-box img{
    width: 100%;
    max-width: 100%;
    z-index: 8;
}

.about-section .about-image .img-box .about-shape{
    width: 404px;
    height: 525px;
    border-left: 15px solid var(--main-color);
    border-bottom: 15px solid var(--main-color);
    position: absolute;
    bottom: 0;
    left:0;
    z-index: -1;
}

.about-section .about-image .img-box .about-shape::before{
    position: absolute;
    content: '';
    width: 15px; 
    height: 85%;
    background-color: var(--main-color);
    bottom: 0;
    right: 0;
}

.about-section .about-image .img-box .about-shape::after{
    position: absolute;
    content: ' ';
    width: 104%;
    height: 15px;
    background-color: var(--main-color);
    top: 36px;
    right: -2px;
    transform: rotate(11deg);
    border-top-left-radius: 20px;
}

.about-section .about-image, .about-section .about-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
}

.about-section .about-content p{
    text-align: justify;
}

.skills-item .skills-header{
    position: relative;
}

.skills-item .skills-header .skills-title{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px
}

.skills-item .skills-header .skills-percentage{
    position: absolute;
    top: -3px;
    right: 0;
}

.skills-item .skill-header .skill-percentage p{
    font-size: 14px;
    font-weight: 400;
}

.skills-item .skill-bar{
    margin-top: 15px;
}

.skills-item .skill-bar .bar-inner{
    width: 100%;
    height: 9px;
    border-radius: 5px;
    background-color: rgba(33, 243, 26, 0.11);
    position: relative;
    
}

.skills-item .skill-bar .bar-inner .progress-line{
    position: absolute;
    top:0;
    left: 0;
    height: 9px;
    border-radius: 5px;
    background-color: var(--main-color);
    width: 0%;
    transition: all 1s ease-in-out;
}

.skills-item .skill-bar .bar-inner .progress-line::before{
    position: absolute;
    content: '';
     width: 7px;
    height: 18px;
    background-color: var(--white);
    border: 2px solid var(--main-color);
    top: -7px;
    right: 0;
}

.service-section{
    min-height: 100vh;
    background-color: var(--black-100);
}

.service-section .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service-section .service-item-inner:hover{
    background-color: var(--main-color);
    cursor: pointer;
    transform: scale(105%);
}
.service-section .service-item-inner{
    box-shadow: var(--shadow-black-100);
    padding: 50px 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    transition:all 0.5s ease;
}

.service-section .service-item-inner:hover .icon{
    background-color: var(--white);
    color: var(--main-color);
}

.service-section .service-item-inner .icon{
    height: 60px;
    width: 60px;
    background-color: var(--main-color);
    margin: 0 auto 30px;
    text-align: center;
    font-size: 28px;
    color: var(--white);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 1;
    transition:all 1s ease;
}

.service-section .service-item-inner .icon i{
    line-height: 60px;
}

.service-section .service-item-inner:hover h3{
    color: var(--white);
}

.service-section .service-item-inner h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--black-900);
    margin: 0 0 10px;
    transition:all 1s ease;
}

.service-section .service-item-inner:hover p{
    color: var(--white);
}

.service-section .service-item-inner p{
    line-height: 26px;
    color: var(--black-400);
    margin: 0;
    font-size: 15px;
    transition:all 1s ease;
}

.portfolio .portfolio-filter{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.portfolio .portfolio-filter button{
    margin-top: -20px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid;
    border-color: var(--main-color);
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--white);
    margin-right: 20px;
    color: var(--main-color)

}

